button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

body {
  margin: 0;
}

video#gum {
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  position:absolute;
}

video#recorded {
  width:20%;
  height:20%;
  right:0%;
  object-fit:cover;
  z-index:1;
  position:absolute;
}